@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
.red_text
{
	color: 		red;
	font-size:	20px; 	
	font-family: 'Roboto', sans-serif;
		
}

.green_text
{
	color: 		#009999 ;
	font-size:	20px; 	
	font-family: 'Roboto', sans-serif;
		
}

.orange_text
{
	color: 		orange ;
	font-size:	20px; 	
	font-family: 'Roboto', sans-serif;
		
}